<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Create</title>
</head>
<body>
    <div class="container">
        <div class="addForm">
            <form action="/processShow" method="POST">
                {% csrf_token %}
                {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
                <h1>Add a New Show</h1>
                <label for="showTitle">Title</label>
                <input type="text" name="showTitle">
                <div class="middleForm">
                    <div class="middleLeft">
                        <label for="showNetwork">Network</label>
                        <input type="text" name="showNetwork">
                    </div>
                    <div class="middleRight">
                    <label for="releaseDate">Release Date</label>
                    <input type="date" name="releaseDate">
                    </div>
                </div>
                <div class="textbox">
                    <label for="showDesc">Description</label>
                    <textarea name="showDesc"></textarea>
                </div>
                <input type="submit">
            </form>
        </div>
        <p><a href="http://localhost:8000/shows">Go Back</a></p>
    </div>
</body>
</html>