<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <title>Books & Authors</title>
</head>
<body>
    <div class="container">
        <div class="left-content">
            <form action="/addBook" method="POST">
                {% csrf_token %}
                <h1>Add a Book</h1>
                <label for="bookTitle">Title</label>
                <input type="text" name="bookTitle">
                <label for="desc">Description</label>
                <textarea name="desc"></textarea>
                <button type="submit">Add</button>
            </form>
        </div>
        <div class="right-content">
            <table>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Action</th>
                </tr>
                {% for book in all_books %}
                    <tr>
                        <td>{{ book.id }}</td>
                        <td>{{ book.title }}</td>
                        <td><a href="http://localhost:8000/books/{{ book.id }}">View</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>
</html>