<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/show.css' %}"> 
    <title>Books & Authors</title>
</head>
<body>
    <h1>{{ specificAuthor.first_name }} {{ specificAuthor.last_name }}</h1>
    <p>ID: {{ specificAuthor.id }}</p>
    <p>Notes: {{ specificAuthor.notes }}</p>
    <p>Books</p>
    <ul>
    {% for books in specificAuthor.books.all %}
        <li>{{ books.title }}</li>
    {% endfor %}
    </ul>
    <form action="/addBookToAuthor" method="POST">
        {% csrf_token %}
        <input type="hidden" name="author" value="{{specificAuthor.id}}">
        <select name="book">
            {% for book in books %}
            {% if book not in specificAuthor.books.all %}
            <option value="{{ book.id }}">{{book.title}}</option>
            {% endif %}
            {% endfor %}
        </select>
        <button type="submit">Add</button>
    </form>
</body>
</html>