<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/wall.css' %}">
    <title>The Wall</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="leftContent">
                <h1>CodingDojo Wall</h1>
            </div>
            <div class="rightContent">
                <p>Welcome, {{request.session.usersName}}!</p>
                <a href="/logOut">Log Out</a>
            </div>
        </div>
        <div class="body">
            <form action="/post" method="POST">
                {% csrf_token %}
                <label for="postMessage">Post a Message</label>
                <textarea name="postMessage"></textarea>
                <input type="submit" value="Post a Message">
            </form>
            <div class="content">
                {% for eachMessage in messages reversed %}
                    <h3>{{eachMessage.user.firstName}} {{eachMessage.user.lastName}} - {{eachMessage.created_at|date:'b d, Y'}}</h3>
                    <p>{{ eachMessage.message }}</p>
                    <div class="commentForm">
                        <p id="comments">Comments</p>
                        {% for eachComment in eachMessage.comments.all %}
                            <h4>{{ eachComment.user.firstName}} {{ eachComment.user.lastName }} - {{eachComment.created_at|date:'b d, Y'}}</h4>
                            <p>{{ eachComment.comment }}</p>
                        {% endfor %}
                        <form action="/comment/{{ eachMessage.id }}" method="POST">
                            {% csrf_token %}
                            <label for="postComment">Post a Comment</label>
                            <textarea name="postComment"></textarea>
                            <input type="submit" value="Post a Comment">
                        </form>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>