<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Day and Time</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="container">
        <p id="title">The current time and date:</p>
        <div id="content">
            <p id="day">{{ day }}</p>
            <p id="time">{{ time }}</p>
        </div>
    </div>
</body>
</html>