.container {
    display: flex;
    margin-left: 70px;
}

.container h1 {
    margin-bottom: 50px;
}

.container p {
    margin-bottom: 30px;
}

.bottomContent {
    margin-top: 200px;
}

#leftContent {
    margin-left: auto;
}